@model Salt

@{
    ViewData["Title"] = "Salt info";
}

<section>
    <h3>List of Salts</h3>
    <ul>
        <section>
            <li>@Model.Name</li>
            <li>@Model.PartitionKey</li>
        </section>
        HELLLOOOOOO!
    </ul>
</section>
