@model Salt

@{
    ViewData["Title"] = "SaltProfile";
}

<article>
    <h1>@Model.Name</h1>
    <figure>
        <img />
        <figcaption>
            dsdsdsds
        </figcaption>
    </figure>
    <section>
        <form>
            <label>input</label>
            <input>input here<input />
        </form>
        list of comments:
        <div></div>
    </section>
</article>